.required::after {
    content: '*';
    color: #f00;
    margin-left: 3px;
}

.has-error .help-block{
    color : #f00;
    font-weight: 400;
}

.filters .custom-buttons {
    float: right;
}

[direction="rtl"] .filters .custom-buttons {
    float: left;
}

.filters .custom-filters {
    display: flex;
    flex-wrap: wrap;
}

.filters .form-control.form-control-sm.filter {
    margin-left: 9px;
    flex: 1;
}

.kt-avatar.kt-avatar--banner .kt-avatar__holder {
    background-position: center;
    background-size: contain;
}

.readyOnly{
    cursor: not-allowed;
}
.mb-1-rem{
    margin-bottom: 1rem
}
.filters .reset-filter {
    vertical-align: middle;
    display: block;
    margin: 5px 10px;
    font-size: 1.25rem;
    display: none;
}

.select2 {
    width: 100% !important;
}

.select2 .select2-search__field {
    width: 100% !important;
}

.timeline.timeline-2 {
    position: relative;
    padding: 0 30px !important;
}

.timeline.timeline-2 .timeline-item .timeline-badge {
    position: relative;
    z-index: 1;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #e4e6ef;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.timeline.timeline-2 .timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem 0;
}

.timeline.timeline-2 .timeline-bar {
    background-color: #ebedf3;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    top: 5px;
    bottom: 5px;
    left: 34px;
    z-index: 0;
    margin: .5rem 0;
}

.timeline.timeline-2 .timeline-item .timeline-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.btn-primary {
    color: #fff;
    background-color: #83162c;
    border-color: #83162c;
}

.btn-brand {
    color: #fff;
    background-color: #83162c;
    border-color: #83162c;
}

.btn-brand:hover {
    color: #fff;
    background-color: #83162c;
    border-color: #a21e48;
}

.btn-primary:hover {
    color: #fff;
    background-color: #83162c;
    border-color: #a21e48;
}

.btn-brand:not(:disabled):not(.disabled).active, .btn-brand:not(:disabled):not(.disabled):active, .show>.btn-brand.dropdown-toggle {
    color: #fff;
    background-color: #83162c;
    border-color: #a21e48;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #83162c;
    border-color: #a21e48;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #83162c;
    border-color: #a21e48;
}