.has-error .help-block {
    color: #f00;
    display: block;
    width: 100%;
    font-size: 1.5rem;
}

.form_submit_side {
    display: none;
}
.login_popup .form_submit_side {
    display: block;
}
 
@font-face {
    font-family: 'Greycliff CF';
    src: url('/fonts/GreycliffCF-Medium.woff2') format('woff2'),
        url('/fonts/GreycliffCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('/fonts/GreycliffCF-Bold.woff2') format('woff2'),
        url('/fonts/GreycliffCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('/fonts/GreycliffCF-Light.woff2') format('woff2'),
        url('/fonts/GreycliffCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('/fonts/GreycliffCF-Heavy.woff2') format('woff2'),
        url('/fonts/GreycliffCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('/fonts/GreycliffCF-ExtraBold.woff2') format('woff2'),
        url('/fonts/GreycliffCF-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('/fonts/GreycliffCF-Regular.woff2') format('woff2'),
        url('/fonts/GreycliffCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: url('GreycliffCF-DemiBold.woff2') format('woff2'),
        url('GreycliffCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
