.ng_icon {
  padding-right: 0;
  padding-left: 1rem;
}

.ng_icon a {
  padding-left: 0;
  padding-right: 1.5rem;
}

.account_icon a img {
  margin-right: 0;
  margin-left: 0.9rem;
}

.account_icon span {
  margin-right: 0.6rem;
}

.bd_right:after {
  left: -5px;
  right: auto;
}

.mid_header_bar .right_icon_box {
  margin-left: 0;
  margin-right: 4.4rem;
}

.mid_header_bar .hd_search_box input {
  padding: 1.5rem 8rem 1.9rem 4rem !important;
}

.mid_header_bar .hd_logo {
  float: right;
}

.mid_header_bar .hd_logo .logo_link {
  width: 11.2rem;
  margin-left: 0;
  margin-right: 1rem;
}

.category_nav__section_title {
  display: flex;
}

.category_nav__section_title img {
  margin-right: 0;
  margin-left: 1rem;
}

.category_nav__block {
  padding: 0.3rem 5px 5px 0;
}

.category_nav .category_arrow {
  transform: rotate(-180deg);
}

.category_nav .category_nav__block--item a {
  text-align: right;
}

.category_nav .category_nav__block--item .category_arrow {
  margin: 0 auto 0 0;
}

.category_nav .category_nav__block--item img {
  margin-right: 0;
  margin-left: 1.6rem;
}

.category_nav .category_nav__block--item:hover {
  border-radius: 0 24px 24px 0;
}

.sb_menu_block {
  left: auto;
  right: 100%;
  box-shadow: -16px 14px 15px rgba(72, 70, 91, 0.28);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-left: 1px;
  border-right: 0;
}

.sb_menu_block .nav-container .first_level .card {
  text-align: right;
}

.flash_deals .card_title .title_icon,
.top_selection .card_title .title_icon,
.featured_product .card_title .title_icon,
.store_section .card_title .title_icon,
.featured_category .card_title .title_icon {
  margin-right: 0;
  margin-left: 1rem;
}

.view_btn {
  margin-right: 0;
  margin-left: 1rem;
}

.flash_deals .product_section .col-sm-3 {
  border-right: 1px solid #e1e1e1;
}

.flash_deals .product_section .col-sm-3:first-child {
  border-right: 0;
}

.top_selection .product_section .col-md-3 {
  border-right: 1px solid #e1e1e1;
}

.top_selection .product_section .col-md-3:first-child {
  border-right: 0;
}

.featured_category .main_title {
  text-align: right;
}

.hm_product_box {
  text-align: right;
}

.product_section .hm_product_box .discount_offer {
  right: 0;
  left: auto;
  border-radius: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.more_to_love_section .col-md-2 {
  border-right: 1px solid #e1e1e1;
}

.more_to_love_section .col-md-2:first-child {
  border-right: 0;
}

.footer .ft_last {
  text-align: right;
}

.footer .ft_title {
  text-align: right;
}

.footer .ft_payment_block {
  text-align: right;
}

.cart_popup {
  right: auto;
  left: 0;
  transform: translateX(-100%);
}

.cart_popup .continue_btn i {
  transform: rotate(180deg);
}

.cart_popup-active {
  transform: translateX(0);
}

.wish_icon a span {
  margin-right: 0;
  margin-left: 0.8rem;
}

.region_pannel .sub_pannel .pannel_select {
  text-align: right;
}

.mid_header_bar .fix_menu_icon {
  margin-left: 0;
  margin-right: 2.3rem;
}

.category_nav__block--item .category_arrow {
  margin: 0 auto 0 0;
  transform: rotate(180deg);
}

.category_nav__block--item img {
  margin-right: 0;
  margin-left: 1.6rem;
}

.category_nav__block--item:hover {
  border-radius: 0px 24px 24px 0px;
}

.mid_header_bar .fix_nav_categories > ul {
  padding-right: 1rem;
  padding-left: 0;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  direction: ltr;
}

[dir=rtl] .slick-slide {
  float: left;
}

.cart_section .cart_item_block .cart_footer_block .product_price {
  margin-left: 0;
  margin-right: 27%;
}

.cart_section .cart_item_block .cart_footer_block .cart_option a {
  border-right: 0;
  border-left: 1px solid #e1e1e1;
  margin-right: 0;
  margin-left: 6px;
}

.primary_title {
  text-align: right;
}

.profile_block .profile_content .p_card {
  text-align: right;
}

.profile_block .profile_content .p_card__footer .p_ft_link span {
  margin-right: 0;
  margin-left: 0.9rem;
}

.personl_form .form_group,
.address_block,
.form_group {
  text-align: right;
}

.profile_block .profile_content .add_addres_btn {
  padding: 0.8rem 2rem;
  padding-left: 0;
}

.profile_block .profile_content .add_addres_btn span {
  margin-left: 0;
  margin-right: 0.5rem;
}

.profile_block .profile_nav li a span {
  margin-right: 0;
  margin-left: 0.8rem;
}

.product_section .hm_product_box .pd_text .pd_price .sub_price {
  margin-left: 0;
  margin-right: 0.5rem;
}

.flash_deals .product_section .col-lg {
  border-right: 1px solid #e1e1e1;
}

.flash_deals .product_section .col-lg:first-child {
  border-right: 0;
}

.flash_deals .product_section .col-lg:last-child {
  border-right: 1px solid #e1e1e1;
}

.top_selection .product_section .col-md-3:last-child {
  border-right: 1px solid #e1e1e1;
}

.top_selection .product_section .col-md-3:first-child {
  border-right: 0;
}

.more_to_love_section .col-lg-2:nth-child(6n+6) {
  border-right: 1px solid #e1e1e1;
}

.more_to_love_section .col-lg-2:nth-child(7n+7) {
  border-right: 0;
}

.more_to_love_section .col-lg-2:first-child {
  border-right: 0;
}

.product_section .sorting_options h3 {
  margin-right: 0;
  margin-left: 1.4rem;
}

.sec_title span {
  margin-right: 0;
  margin-left: 1.5rem;
}

.product_section .product_lists {
  padding-left: 0;
  padding-right: 2rem;
}

.product_item {
  text-align: right;
}

.product_item:nth-child(5n+5):after {
  height: 0;
}

.product_item:nth-first-child(-1n+5) {
  border-bottom: 0;
}

.product_section .product_lists .product_item:after {
  right: auto;
  left: 0;
}

.product_section .product_lists .product_item__sticker {
  left: auto;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.product_section .product_lists .product_item__price_block .mrp {
  margin-left: 0;
  margin-right: 0.7rem;
}

.filter_bar {
  margin-right: 0;
  margin-left: 7%;
}

.filter_bar .categories_content__check_boxes .checkbox_parent {
  text-align: right;
}

.filter_bar .categories_content__check_boxes .kt-checkbox {
  padding: 2px 2.5rem 2px 1.9rem;
}

.filter_bar .categories_content__check_boxes .kt-checkbox > span {
  left: auto;
  right: 0;
}

.filter_bar .categories_content__check_boxes .checkbox_parent .collaps_btn {
  right: auto;
  left: 0;
}

.filter_bar .categories_content__check_boxes .checkbox_child {
  padding-left: 0;
  padding-right: 2.4rem;
}

.product_section .clear_filter .filter_options div a {
  margin-left: 0;
  margin-right: 0.5rem;
}

.product_section .clear_filter .clear_btn {
  margin-right: 0;
  margin-left: 1.5rem;
}

.product_content {
  text-align: right;
  margin-left: 0;
  margin-right: 5.5rem;
}

.product_content .pd_buttons .buy_now_btn {
  margin-right: 0;
  margin-left: 1rem;
}

.product_content .pd_buttons a span {
  margin-left: 0;
  margin-right: 0.8rem;
}

.product_content .pd_price h3,
.product_content .pd_price .mrp,
.product_content .pd_price .offer_price {
  margin-right: 0;
  margin-left: 2rem;
}

.cart_popup .cart_section .cart_item_block .cart_item__content {
  text-align: right;
}

.c_questions,
.customer_qa {
  text-align: right;
}

.cutomer_review .review_sidePane .rating_block .rate_star {
  margin-left: 0;
  margin-right: 1.5rem;
}

.cartCheckoutHtml {
  text-align: right;
}

.customer_qa .col-md-8 {
  padding-left: 0;
  padding-right: 5.5rem;
}

.checkout_detail .cart_section .cart_item_block .cart_item__content .product_price {
  text-align: right;
}

.review_modal .modal-header .close,
.modal_comment .modal-header .close {
  margin: auto 0;
}

.checkout_last_step .c_shipping_detail,
.checkout_last_step .c_payment_method {
  text-align: right;
}

.checkout_last_step .c_message i {
  margin-right: 0;
  margin-left: 1rem;
}

.checkout_last_step .edit_btn i {
  margin-right: 0;
  margin-left: 0.5rem;
}

.checkout_detail .cart_section .cart_item_block .cart_item__content {
  margin-left: 0;
  margin-right: 3rem;
}

.checkout_last_step .coupon_input input {
  padding-left: 7rem;
}

.checkout_last_step .coupon_input a {
  right: auto;
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.order_list_section .od_search_btn label input {
  padding-right: 1rem;
  padding-left: 13.5rem;
}

.order_list_section .od_search_btn label button {
  right: auto;
  left: 0;
}

.order_list_section .order_list .od_history label {
  margin-right: 0;
  margin-left: 1rem;
}

.order_list .row .col-md-4:nth-child(1) {
  text-align: right;
}

.order_list .row .col-md-4:nth-child(3) {
  text-align: left;
}

.col_last {
  text-align: left;
}

.od_product,
.od_product_info {
  text-align: right;
}

.order_detail_section .order_detail_item_block .od_product__header .invoice_btn.support {
  margin-right: 0;
  margin-left: 0.7rem;
}

.modal-content .radio.radio-outline > span {
  margin-right: 0rem;
  margin-left: 1rem;
}

.modal-content .kt-checkbox > span {
  left: auto;
  right: 0;
}

.modal-content .kt-checkbox {
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 3rem;
}

.ft_payment_block .App_stores a span {
  margin-right: 0;
  margin-left: 0.9rem;
}

