@charset "UTF-8";

body,
html {
  font-size: 15px !important;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

.svg-icon.svg-icon-primary svg g [fill] {
  transition: fill 0.3s ease;
  fill: #3699ff !important;
}

.bycost_btn {
  background-color: #276dcb;
  border-radius: 4px;
  color: #fff;
  padding: 0.7rem 1.8rem;
}

.bycost_btn:hover {
  color: #fff;
  background-color: #004aad;
}

.btn_1 {
  background-color: #ff8c56;
  color: #fff;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
}

.btn_1:hover {
  color: #fff;
  background-color: #fc8147;
}

.kt-container,
.kt-container.kt-container--fluid {
  margin: 13px 0;
}

.has-error .help-block {
  font-size: 0.8rem;
  font-weight: 500;
}

.border_bottom {
  border-bottom: 1px solid #ebedf2;
}

.kt-subheader .kt-subheader__main .kt-subheader__breadcrumbs .kt-subheader__breadcrumbs-link.kt-subheader__breadcrumbs-link--active {
  color: #004aad;
}

.fixedsticky {
  top: 13%;
}

.line_clamp,
.lc_2,
.lc_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lc_2 {
  -webkit-line-clamp: 2;
}

.lc_3 {
  -webkit-line-clamp: 2;
}

.status-reply {
  color: #2972b7;
  background-color: #8db2d62b;
}

.status-full_return {
  color: #8950FC;
  background-color: #EEE5FF;
}

.status-partial_return {
  color: #3F4254;
  background-color: #EBEDF3;
}

.status-partial_return_received {
  color: #3699FF;
  background-color: #E1F0FF;
}

.status-full_return_received {
  color: #1BC5BD;
  background-color: #C9F7F5;
}

#toast-container > .toast {
  position: relative;
  background-image: none !important;
  padding: 15px 15px 15px 85px;
}

#toast-container > .toast:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

#toast-container > .toast-success:after {
  background-image: url(/images/checked-green.svg?c13e66d6a34efa95d9327fadedee7e89);
}

.toast-success {
  background-color: #e8f6ee;
  border: 1px solid #0abb87;
}

.toast-success .toast-title {
  color: #0ea14f;
}

.toast-success .toast-message {
  color: #52b87f;
}

.toast-success .toast-progress {
  background-color: #0abb87;
  opacity: 1;
}

#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
  width: 320px;
}

#toast-container > .toast-error:after {
  background-image: url(/images/error_toast.svg?2cc39b83bdb1f8c53025a8b70ddf66ef);
}

.toast-error {
  background-color: #ffebf1;
  border: 1px solid #fd397a;
}

.toast-error .toast-title {
  color: #fd397a;
}

.toast-error .toast-message {
  color: #f16d99;
}

.toast-error .toast-progress {
  background-color: #fd397a;
  opacity: 1;
}

#toast-container > .toast-warning:after {
  background-image: url(/images/warning_toast.svg?c98abf6f7446cdc46bfe4c4ebda5cbcb);
}

.toast-warning {
  background-color: #fff8e9;
  border: 1px solid #fbb217;
}

.toast-warning .toast-title {
  color: #fbb217;
}

.toast-warning .toast-message {
  color: #f8b934;
}

.toast-warning .toast-progress {
  background-color: #fbb217;
  opacity: 1;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__logo {
  width: 18.6rem;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title,
.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
  color: #000000;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-group .form-control {
  border-color: #004aad;
  background: rgba(37, 120, 224, 0.4);
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary,
.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
  background-color: transparent;
  color: #004aad;
  border-color: #004aad;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary:hover,
.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary:hover {
  color: #fff;
  background-color: #004aad;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link {
  color: #004aad;
}

.kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link:hover {
  color: #004aad;
}

.kt-header {
  justify-content: flex-end;
}

.kt-header .dropdown-menu.dropdown-menu-xl {
  width: auto;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user {
  padding: 0 1rem;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .at_profile {
  width: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0 2.5px;
  max-height: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user i {
  padding: 0 10px;
}

.store_name {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 1.2rem;
}

.store_name span {
  margin-right: 0.5rem;
}

.store_name .svg-icon {
  margin-top: -2px;
  opacity: 0.5;
}

.store_name .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #6c7293 !important;
}

.store_name .st_label {
  color: #959cb6;
  font-weight: 500;
  font-size: 0.9rem;
}

.store_name .st_name {
  color: #6c7293;
  font-weight: 500;
  font-size: 1rem;
}

.kt-aside__brand {
  background-color: #dbdddc;
}

.kt-aside {
  background-color: #dbdddc;
}

.kt-aside-menu {
  background-color: #dbdddc;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  color: #83162c;
    font-weight: 500;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
  color: #83162c;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon {
  color: #9c8d3a;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon svg g [fill] {
  fill: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon svg,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .user_icon_aside svg {
  width: 23px;
  height: 23px;
}

.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
  fill: #fff;
}

.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler:hover svg g [fill] {
  fill: #fff;
}

.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler {
  opacity: 0.3;
}

.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler:hover {
  opacity: 1;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link.active,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active {
  background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link.active svg g [fill],
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active svg g [fill] {
  fill: #004aad;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon .st0,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon .st0 {
  opacity: 0.3;
  fill: #004aad !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon .st1,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon .st1 {
  fill: #004aad !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-text {
  color: #9c8d3a;
  font-weight: 600;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:hover .kt-menu__link.active {
  background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:hover .kt-menu__link.active svg g [fill] {
  fill: #004aad;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:hover .kt-menu__link.active .kt-menu__link-icon .st0 {
  opacity: 0.3;
  fill: #004aad;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:hover .kt-menu__link.active .kt-menu__link-icon .st1 {
  fill: #004aad;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:hover .kt-menu__link.active .kt-menu__link-text {
  color: #9c8d3a;
  font-weight: 600;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__ver-arrow,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__ver-arrow {
  color: #fff;
  font-weight: 500;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
  background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-icon svg g [fill] {
  fill: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active {
  background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon svg g [fill] {
  fill: #004aad;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-text {
  color: #004aad;
  font-weight: 500;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
  padding: 16px 25px;
}

.kt-menu__link .kt-menu__link-icon,
.kt-menu__link .kt-menu__link-text {
  opacity: 0.7;
}

.kt-menu__link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.kt-menu__link:hover .kt-menu__link-icon,
.kt-menu__link:hover .kt-menu__link-text {
  opacity: 1;
}

.kt-menu__link.active .kt-menu__link-icon,
.kt-menu__link.active .kt-menu__link-text {
  opacity: 1;
}

.kt-menu__item--open .kt-menu__toggle {
  background: rgba(255, 255, 255, 0.1);
}

.kt-menu__item--open .kt-menu__toggle .kt-menu__link-icon,
.kt-menu__item--open .kt-menu__toggle .kt-menu__link-text {
  opacity: 1;
  color: #fff;
}

.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  background: transparent;
}

.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle .kt-menu__link-icon,
.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle .kt-menu__link-text {
  color: #fff;
  opacity: 0.7;
}

.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle:hover {
  background: rgba(255, 255, 255, 0.1);
}

.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle:hover .kt-menu__link-icon,
.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle:hover .kt-menu__link-text {
  opacity: 1;
}

.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle.active .kt-menu__link-icon,
.kt-menu__item--open .kt-menu__subnav .kt-menu__toggle.active .kt-menu__link-text {
  opacity: 1;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item.kt-menu__item--submenu > .kt-menu__toggle.active {
  background: rgba(255, 255, 255, 0.1);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item.kt-menu__item--submenu > .kt-menu__toggle.active .kt-menu__link-text {
  color: #fff !important;
  font-weight: 400;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item.kt-menu__item--submenu > .kt-menu__toggle.active .kt-menu__link-icon svg g [fill] {
  fill: #fff !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item > .kt-menu__toggle.active .kt-menu__link-text {
  color: #004aad !important;
  font-weight: 400;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav .kt-menu__item > .kt-menu__toggle.active .kt-menu__link-icon svg g [fill] {
  fill: #004aad !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle {
  background: rgba(255, 255, 255, 0.1);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle .kt-menu__link-text {
  opacity: 1;
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle .kt-menu__ver-arrow {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__ver-arrow {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle.active {
  background: rgba(255, 255, 255, 0.1);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle.active .kt-menu__link-text {
  color: #fff;
  font-weight: 400;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle.active .kt-menu__link-icon svg g [fill] {
  fill: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .by_submenu .kt-menu__subnav .kt-menu__item--open > .kt-menu__toggle.active:hover {
  background: rgba(255, 255, 255, 0.1);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-text {
  color: #fff;
  font-weight: 400;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link.active .kt-menu__link-icon svg g [fill] {
  fill: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link.active .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
  background-color: #004aad;
}

.d_section {
  margin-top: 4rem;
}

.d_section .kt-portlet .kt-portlet__head {
  min-height: 50px;
}

.d_section .kt-portlet .kt-portlet__body {
  padding: 12px 25px;
  padding: 0 25px;
}

.d_section .kt-portlet.kt-portlet--height-fluid {
  height: auto;
}

.d_section .kt-widget4 .kt-widget4__item .kt-widget4__pic {
  width: 2.75rem;
  height: 1.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_section .kt-widget4 .kt-widget4__item .kt-widget4__pic img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.status-warehouse_accepted {
  color: #1bc5bd;
  background-color: #c9f7f5;
}

.rate_box {
  width: 4.1rem;
  height: auto;
  padding: 0.15rem 0.75rem;
  border-radius: 2px;
}

.d_title {
  margin-bottom: 10px;
}

.d_title h4 {
  font-size: 1.3rem;
  color: #48465B;
}

.d_title p {
  font-size: 1.06rem;
  line-height: 1.2;
  color: #595D6E;
}

.vendor_dashboard {
  padding: 0 3rem;
}

.vendor_dashboard .dashboard_card p {
  font-size: 1.06rem;
  line-height: 1.2;
  color: #595D6E;
}

.vendor_dashboard .card {
  border-radius: 5px;
  border-color: #fff;
  margin-right: 1.5rem;
  height: auto;
}

.d_products .pd_img {
  width: 100%;
  height: 10.6rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_products .pd_img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

.d_products .pd_info {
  display: flex;
  align-items: center;
}

.d_products .pd_info p {
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.d_products .pd_info p:nth-child(1) {
  font-weight: 600;
  font-size: 1rem;
  color: #48465B;
  margin-right: 1.8rem;
}

.d_products .pd_info p:nth-child(2) {
  font-size: 0.8rem;
  color: #8A8A8A;
}

.d_products .pd_qty {
  font-size: 0.8rem;
  color: #8A8A8A;
  padding: 0.2rem 0;
}

.d_products .pd_rating {
  font-size: 1.1rem;
  font-weight: 500;
  color: #8A8A8A;
  border-radius: 2px;
  padding-top: 0.2rem;
}

.d_products .slick-arrow {
  position: absolute;
  top: -3.8rem;
  right: 1.5rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: 1px solid #8A8A8A;
  color: #8A8A8A;
  font-size: 1.6rem;
}

.d_products .prev_arrow {
  right: 5rem;
  z-index: 1;
}

.d_selling_products .dashboard_card {
  background-color: #fff;
  border-radius: 4px;
  padding: 0 1rem 5px;
}

.d_selling_products .dashboard_card .table-responsive {
  overflow-x: hidden !important;
}

.d_selling_products .dashboard_card table {
  margin-bottom: 0;
}

.d_selling_products .dashboard_card table tr:last-child td {
  border-bottom: 0;
}

.d_selling_products .th_table {
  border-bottom: 1px solid rgba(224, 224, 224, 0.35);
}

.d_selling_products tr th {
  font-size: 0.8rem;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #595D6E;
}

.d_selling_products tr .d_pdname {
  font-weight: 600;
  font-size: 1rem;
  color: #48465B;
  margin-right: 1.8rem;
}

.d_selling_products tr td {
  font-size: 0.9rem;
  border-bottom: 1px solid #f0f3ff;
  vertical-align: middle !important;
}

.d_selling_products tr td .kt-badge.kt-badge--inline {
  font-size: 13px;
}

.d_selling_products .d_pdimg {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #dad4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.d_product_section {
  margin-top: 2rem;
}

.kt-portlet__body .kt-widget4 .kt-widget4__item {
  padding: 0.6rem 0;
}

.d_stock_section .kt-portlet .kt-portlet__body {
  padding: 0;
}

.d_stock_section .kt-portlet .kt-portlet__body .qty_status {
  font-size: 1.6rem;
  color: #48465B;
  font-weight: 600;
}

.d_stock_section .kt-widget4__item {
  padding: 12px 25px !important;
  position: relative;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  z-index: 1;
}

.d_stock_section .kt-widget4__item a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.d_stock_section .kt-widget4__item .stock_progressbar {
  position: absolute;
  height: 98%;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 4px solid;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_90 {
  width: 90%;
  background-color: rgba(119, 203, 234, 0.35);
  border-bottom: 4px solid #77CBEA;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_80 {
  width: 80%;
  background-color: rgba(190, 159, 225, 0.35);
  border-bottom: 4px solid #BE9FE1;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_70 {
  width: 70%;
  background-color: rgba(229, 233, 255, 0.35);
  border-color: #E5E9FF;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_60 {
  width: 60%;
  background-color: rgba(229, 233, 255, 0.35);
  border-color: #E5E9FF;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_50 {
  width: 50%;
  background-color: #fff4de;
  border-color: #ffa800;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_40 {
  width: 40%;
  background-color: rgba(168, 230, 207, 0.35);
  border-color: #A8E6CF;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_30 {
  width: 30%;
  background-color: #fff4de;
  border-color: #ffa800;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_20,
.d_stock_section .kt-widget4__item .stock_progressbar.pr_10 {
  width: 20%;
  background-color: rgba(223, 40, 23, 0.35);
  border-bottom: 4px solid #DF2817;
}

.d_stock_section .kt-widget4__item .stock_progressbar.pr_10 {
  width: 10%;
}

.d_stock_section .kt-widget4 .kt-widget4__item .kt-widget4__pic {
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  flex: none;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
}

.d_stock_graph_section .kt-portlet {
  height: 245px;
  align-items: center;
  justify-content: center;
}

.d_stock_graph_section .kt-portlet__head-label {
  padding-top: 1.5rem;
  justify-content: center;
  width: 100%;
  margin-top: -4rem;
}

.d_stock_graph_section .kt-widget20__content {
  padding-bottom: 5px;
  padding-top: 6px;
  display: block;
  text-align: center;
}

.d_stock_graph_section .kt-widget20__content .kt-widget20__number {
  font-weight: bold;
  font-size: 2rem;
  color: #48465B;
  display: block;
}

@media only screen and (max-width: 1500px) {
  .d_stock_graph_section .kt-widget20__content .kt-widget20__number {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1366px) {
  .d_stock_graph_section .kt-widget20__content .kt-widget20__number {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .d_stock_graph_section .kt-widget20__content .kt-widget20__number {
    font-size: 1.2rem;
  }
}

.d_stock_graph_section .kt-widget20__content .kt-widget20__desc {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #595D6E;
}

.ribbon.ribbon-left .ribbon-target {
  border-top-right-radius: 0.42rem;
  border-bottom-right-radius: 0.42rem;
}

.ribbon .ribbon-target {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  background-color: #3699ff;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
}

.bg-success {
  background-color: #1bc5bd !important;
}

.table_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.table_filter {
  margin-left: 0.5rem;
}

.table_filter button {
  border: 0;
  background: 0 0;
  box-shadow: none;
  outline: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.66rem;
  width: 2.66rem;
  background-color: #f7f8fa;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
}

.table_filter button i {
  color: #8e96b8;
}

.kt-subheader .kt-subheader__search {
  width: 21.66rem;
}

.kt-subheader .kt-subheader__search .form-control {
  height: 2.66rem;
}

.dataTables_length label {
  color: #646c9a;
  font-weight: 300;
  position: relative;
}

.dataTables_length label:after {
  border: 0;
  margin-right: 0;
  font-size: 0.6rem;
  display: inline-block;
  font-family: Flaticon2;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F1A3";
  opacity: 0.4;
  position: absolute;
  right: 6px;
  top: 36%;
  pointer-events: none;
}

.dataTables_length label select {
  width: 100% !important;
  height: auto;
  font-weight: 500;
  color: #93a2dd;
  background: #f0f3ff;
  border: 0;
  font-size: 1rem;
  line-height: 1;
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
  outline: none;
  margin: 0 4px;
  cursor: pointer;
}

.dataTables_length label select option {
  cursor: pointer;
}

.table-responsive .dataTables_wrapper .filters {
  align-items: center;
}

.table-responsive .dataTables_wrapper .filters .dataTables_filter {
  text-align: left;
  display: inline-block;
  position: relative;
}

.table-responsive .dataTables_wrapper .filters .dataTables_filter label {
  margin-bottom: 0;
}

.table-responsive .dataTables_wrapper .filters .dataTables_filter:before {
  content: "";
  position: absolute;
  right: 1rem;
  top: 49%;
  transform: translateY(-50%);
  background-image: url(/images/Search.svg?86045a533ba5f4ea343f8130ceb1a148);
  background-size: contain;
  width: 1.7rem;
  height: 1.7rem;
  background-repeat: no-repeat;
}

.table-responsive .dataTables_wrapper .filters .dataTables_filter input {
  height: 3rem;
  width: 21.7rem;
  background: #f7f7f9;
  border-color: #efeef3 !important;
  padding: 0.65rem 1rem;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid;
  font-size: 1rem;
  padding-right: 2.8rem;
  border: 0;
}

.table-responsive .dataTables_wrapper .filters .dataTables_filter input:focus {
  border-radius: 4px;
  outline: 0;
  border-color: transparent;
}

.table-responsive .dataTables_wrapper .filters .custom-buttons {
  order: 3;
  margin-top: 0;
  margin-left: auto;
}

.table-responsive .dataTables_wrapper .filters .custom-filters {
  margin-top: 1rem;
}

.table-responsive .dataTables_wrapper .filters .custom-filters select {
  border: 0;
  background-color: rgba(88, 103, 221, 0.1);
  width: 10.33rem;
  flex: none !important;
  color: #5867dd;
}

.table-responsive .dataTables_wrapper .filters .custom-filters select:nth-child(2) {
  color: #095cc9;
  background-color: rgba(9, 92, 201, 0.1);
}

.form-control:focus {
  background: #f2f3f7;
  border-color: #9aabff !important;
}

.dataTables_wrapper .dataTable {
  padding-top: 0.3rem;
  border: 0;
  border-bottom: 0 !important;
}

.dataTables_wrapper .dataTable thead tr th {
  padding: 1.6rem;
  font-size: 1rem;
  background-color: #f7f8ff;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  border: 0;
}

.dataTables_wrapper .dataTable thead tr th:first-child {
  border-radius: 4px 0 0 4px;
}

.dataTables_wrapper .dataTable thead tr th:last-child {
  border-radius: 0 4px 4px 0;
}

.dataTables_wrapper .dataTable tbody tr td {
  border: 0;
  border-bottom: 1px solid #f0f3ff;
  padding: 1.5rem;
  border-bottom-width: 1px !important;
}

.dataTables_wrapper .dataTable tbody tr td a {
  color: #6d717b;
}

.dataTables_wrapper .dataTable tbody tr td .btn {
  color: #fff !important;
}

.table_container .dataTables_wrapper .dataTables_length,
.table_container .dataTables_wrapper .dataTables_filter,
.table_container .dataTables_wrapper .dataTables_info,
.table_container .dataTables_wrapper .dataTables_processing,
.table_container .dataTables_wrapper .dataTables_paginate {
  color: #646c9a;
}

.page-link {
  text-align: center;
  display: inline-block;
  border: 0 !important;
  font-size: 0;
}

.page-link:before {
  background: #f0f3ff;
  padding: 0.7rem;
  font-size: 0.6rem;
  font-family: Flaticon2;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  color: #93a2dd;
}

.page-link.previous:before {
  content: "\F1A4";
}

.page-link.next:before {
  content: "\F19D";
}

.dataTables_wrapper .dataTables_paginate .page-link:hover {
  border: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .page-link:hover:before {
  color: #fff;
  background-color: #095cc9;
}

.dataTables_wrapper .dataTables_paginate .page-link:active {
  background-color: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .page-link:active:hover:before {
  background-color: #095cc9;
}

.dataTables_wrapper .dataTables_paginate .page-link.disabled:hover:before,
.dataTables_wrapper .dataTables_paginate .page-link.disabled:hover:hover:before,
.dataTables_wrapper .dataTables_paginate .page-link.disabled:active:hover:before {
  color: #93a2dd;
  background: #f0f3ff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  top: 50%;
  transform: translateY(-50%);
}

.dataTables_wrapper .dataTable td.orting_asc_disabled:after,
.dataTables_wrapper .dataTable td.orting_asc_disabled:before,
.dataTables_wrapper .dataTable td.orting_desc_disabled:after,
.dataTables_wrapper .dataTable td.orting_desc_disabled:before,
.dataTables_wrapper .dataTable td.sorting:after,
.dataTables_wrapper .dataTable td.sorting:before,
.dataTables_wrapper .dataTable td.sorting_asc:after,
.dataTables_wrapper .dataTable td.sorting_asc:before,
.dataTables_wrapper .dataTable td.sorting_desc:after,
.dataTables_wrapper .dataTable td.sorting_desc:before,
.dataTables_wrapper .dataTable th.orting_asc_disabled:after,
.dataTables_wrapper .dataTable th.orting_asc_disabled:before,
.dataTables_wrapper .dataTable th.orting_desc_disabled:after,
.dataTables_wrapper .dataTable th.orting_desc_disabled:before,
.dataTables_wrapper .dataTable th.sorting:after,
.dataTables_wrapper .dataTable th.sorting:before,
.dataTables_wrapper .dataTable th.sorting_asc:after,
.dataTables_wrapper .dataTable th.sorting_asc:before,
.dataTables_wrapper .dataTable th.sorting_desc:after,
.dataTables_wrapper .dataTable th.sorting_desc:before {
  bottom: auto !important;
}

div.dataTables_wrapper div.dataTables_paginate {
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_info {
  float: right;
  padding: 3px 10px !important;
}

.dataTables_length {
  float: right;
  vertical-align: middle;
}

.kt-badge.kt-badge--success {
  color: #0abb87;
  background-color: #e6f8f3;
  border-radius: 4px;
  padding: 0.26rem 0.86rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.kt-portlet .kt-portlet__head {
  padding: 15px 25px;
}

.kt-badge.kt-badge--inline.role-system-admin,
.kt-badge.kt-badge--inline.role-super-admin {
  font-size: 14px;
  padding: 0.15rem 0;
  font-weight: 500;
  color: #5867dd;
}

.kt-badge.kt-badge--inline.role-role-hod,
.kt-badge.kt-badge--inline.role-hod {
  font-size: 14px;
  padding: 0.15rem 0;
  font-weight: 500;
  color: #009eff;
}
.kt-badge.kt-badge--inline.role-employee,
.kt-badge.kt-badge--inline.role-employee {
  font-size: 14px;
  padding: 0.15rem 0;
  font-weight: 500;
  color: #fd397a;
}

.kt-badge.kt-badge--inline.role-vendor-admin {
  font-size: 14px;
  padding: 0.15rem 0;
  font-weight: 500;
  color: #009eff;
}

.kt-badge.kt-badge--inline {
  font-size: 14px;
  font-weight: 500;
}

.status-active,
.status-placed,
.status-warhouse_accepted,
.status-payment_done,
.status-delivered {
  color: #0abb87;
  background-color: #e6f8f3;
  font-size: 0.9rem;
  font-weight: 500;
}

.status-inactive,
.status-cancelled {
  color: #fd397a;
  background-color: #ffebf1;
  font-size: 0.9rem;
  font-weight: 500;
}

.status-out,
.status-pending,
.status-shipped,
.status-ready_for_shipping {
  color: #5867dd;
  background-color: #eef1ff;
  font-size: 0.9rem;
  font-weight: 500;
}

.status-in,
.status-return {
  color: #fbb217;
  background-color: #fff8e8;
  font-size: 0.9rem;
  font-weight: 500;
}

.kt-badge {
  font-size: 0.9rem;
}

.status-high {
  color: #fff;
  background-color: #fd397a;
  border-radius: 100px !important;
}

.status-low {
  color: #fff;
  background-color: #0abb87;
  border-radius: 100px !important;
}

.status-medium {
  color: #fff;
  background-color: #00B8D9;
  border-radius: 100px !important;
}

.status-in_progress {
  color: #fff;
  background-color: #00B8D9;
  border-radius: 100px !important;
}

.status-complete {
  color: #fff;
  background-color: #36B37E;
  border-radius: 100px !important;
}

.status-on_hold {
  color: #fff;
  background-color: #FFAB00;
  border-radius: 100px !important;
}

.status-canceled {
  color: #fff;
  background-color: #fd397a;
  border-radius: 100px !important;
}
.status-under_approval {
  color: #fff;
  background-color: #14151d;
  border-radius: 100px !important;
}



.justification{
  color: #fff;
  background-color: #00B8D9;
  border-radius: 100px !important;
}

.justification-accept {
  color: #fff;
  background-color: #0abb87;
  border-radius: 100px !important;
}
.justification-reject {
  color: #fff;
  background-color: #fd397a;
  border-radius: 100px !important;
}
.justification-pending {
  color: #fff;
  background-color: #ffab00;
  border-radius: 100px !important;
}

.hd_calender {
  cursor: pointer;
}

.hd_calender span {
  font-size: 0.9rem;
  line-height: 1.3;
  border: none;
  background-color: transparent;
}

.hd_calender i {
  margin-left: 10px;
}

.tax_rate_table .select2-container--default .select2-selection--single .select2-selection__rendered {
  width: 100%;
}

.dd3-handle .fa-edit {
  font-size: 0.9rem;
  color: #646a9c;
}

.tab_title {
  margin: 49px 0 40px;
}

.tab_title h3 {
  color: #000;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.config_tab li {
  width: 100%;
}

.config_tab li a span {
  margin-right: 10px;
}

.config_tab li a span .kt-svg-icon g [fill] {
  fill: #959cb6;
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:hover,
.nav-pills .nav-item .nav-link:active {
  color: #004aad;
  background-color: #f2f6fb;
}

.nav-pills .nav-item .nav-link.active .kt-svg-icon g [fill],
.nav-pills .nav-item .nav-link.active:hover .kt-svg-icon g [fill],
.nav-pills .nav-item .nav-link:active .kt-svg-icon g [fill] {
  fill: #004aad;
}

.tab-pane:focus {
  outline: none !important;
}

.category_box label {
  color: #48465b;
}

.category_box .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span {
  background: #e4e8ee;
}

.category_box .parent_category {
  margin-bottom: 6px;
}

.category_box .parent_category .kt-checkbox > input:checked ~ span {
  background-color: #5867dd;
}

.category_box .child_category {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
}

.category_box .child_category .kt-checkbox:after {
  content: "";
  position: absolute;
  left: -30px;
  top: -15px;
  background-image: url(/images/tree-line.png?7f6fb0e…);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.category_box .child_category .kt-checkbox > input:checked ~ span {
  background-color: #327de3;
}

.add_product_section {
  background-color: #fff;
}

.add_product_section .kt-heading--md {
  border-bottom: 1px solid #ebedf2;
  padding: 1.5rem;
}

.add_product_section .kt-section__body {
  padding: 0.1rem 2.1rem;
}

.add_product_section .kt-portlet__foot {
  padding: 25px;
  border-top: 1px solid #ebedf2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.kt-portlet__head-title {
  font-size: 0.9rem !important;
}

.key_words {
  display: block;
  width: 100%;
  padding: 1.35rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.key_words span {
  color: #000;
  font-size: 0.9rem;
  padding: 0.6rem 1.1rem;
  background-color: #e9f0fa;
  border-radius: 4px;
}

.key_words span button {
  background-color: transparent;
  border: 0;
  font-size: 0.7rem;
}

a.uppy-Dashboard-poweredBy {
  display: none;
}

.varient_btn {
  color: #095cc9;
  background-color: #e5edf7;
  border-radius: 4px;
  padding: 0.5rem 1.4rem;
  border: 0;
}

.varien_block {
  padding: 20px 20px;
  width: 100%;
  background-color: #5195ef05;
  border: 1px solid #ebedf2;
  border-radius: 4px;
}

.varien_block button {
  border: 0;
}

.varien_block .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.varien_block .custom_field_box {
  font-weight: 500;
  color: #000;
}

.varien_block .custom_field_box div {
  padding-top: 1rem;
}

.varien_block .custom_field_box input {
  font-size: 0.9rem;
  color: #000;
  border: 0;
  background-color: #eef2fa;
  margin-right: 16px;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

.varien_block .custom_field_box ::-webkit-input-placeholder {
  color: #434349;
  opacity: 0.8;
}

.varien_block .custom_field_box ::-moz-placeholder {
  color: #434349;
  opacity: 0.8;
}

.varien_block .custom_field_box :-ms-input-placeholder {
  color: #434349;
  opacity: 0.8;
}

.varien_block .custom_field_box ::-ms-input-placeholder {
  color: #434349;
  opacity: 0.8;
}

.varien_block .custom_field_box ::placeholder {
  color: #434349;
  opacity: 0.8;
}

.varien_block .add_btn {
  color: #fff;
  border-radius: 4px;
  background-color: #095cc9;
}

.varien_block ul {
  padding: 0 0 1.6rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.varien_block ul .va_label {
  color: #646a9c;
  list-style: none;
}

.varien_block ul .varient_list:not(:first-child) {
  margin-left: 0.9rem;
}

.varien_block ul .varient_list button {
  color: #000;
  font-size: 0.9rem;
  background-color: #e9f0fa;
  border: 0;
  border-radius: 4px;
  padding: 0.5rem 2rem;
}

.varien_block ul .varient_list button:hover {
  color: #fff;
  background-color: #276dcb;
}

.varien_block .field_box .flex {
  flex-wrap: nowrap;
}

.varien_block .field_box input {
  margin-right: 1rem;
}

.varien_block .field_box .field_btn {
  padding: 0.7rem;
  border-radius: 4px;
}

.varien_block .field_box .field_btn:not(:first-child) {
  margin-right: 0.3rem;
}

.varien_block .field_box .add_field {
  background-color: #f4f8fc;
}

.varien_block .field_box .add_field svg g {
  fill: #095cc9;
}

.varien_block .field_box .remove_field {
  background-color: #fff5f8;
}

.varien_block .field_box .remove_field svg g {
  fill: #fd397a;
}

.flex_item_end {
  align-items: flex-end;
}

.flex_item_center {
  align-items: center;
}

#add_new_varient button {
  color: #fff !important;
  background-color: #095cc9;
  border-radius: 4px;
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
  font-size: 1.1rem;
  flex: 0 0 2.55rem;
  height: 2.55rem;
  width: 2.55rem;
  background-color: #dee7f5;
  color: #276dcb;
}

@media only screen and (max-width: 1440px) {
  .cusm_wiz .kt-wizard-v4__nav-label {
    width: 100%;
  }
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state=current] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
  background-color: #276dcb;
  color: #fff;
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
  font-size: 1rem;
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-desc {
  font-size: 0.9rem;
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state=current] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
  color: #276dcb;
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__form {
  margin-top: 0;
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
  flex: 0 0 calc(20% - .25rem);
  width: calc(20% - .25rem);
}

@media only screen and (max-width: 1024px) {
  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
    flex: auto;
    width: 100%;
  }
}

.cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
  padding: 2rem 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
    padding: 0.5rem 2rem;
  }
}

@media only screen and (max-width: 1580px) {
  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
    margin-right: 4rem;
    margin-bottom: 0.5rem;
  }

  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
    font-size: 1.1rem;
  }

  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-desc {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1388px) {
  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
    font-size: 1rem;
  }

  .cusm_wiz .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-desc {
    font-size: 0.9rem;
  }
}

.cusm_wiz .wiz_title_sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  justify-content: center;
}

.cusm_wiz .accordion {
  width: 100%;
}

.cusm_wiz .accordion .card .card-header .card-title {
  background-color: #ebeefb;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.cusm_wiz .accordion .card .card-header .card-title input {
  background-color: transparent;
  border: 0;
}

.cusm_wiz .accordion .card .card-header .card-title input:focus {
  outline: none;
}

.cusm_wiz .accordion .card .card-header .card-title .edit_title_icon {
  opacity: 0.5;
}

.cusm_wiz .accordion .card .card-body {
  border: 1px solid #ebeefb;
  border-top: 0;
  padding: 3rem 1.6rem;
  border-bottom: 0;
}

.cusm_wiz .prduct_attribute {
  border: 1px solid #ebeefb;
  padding: 2rem 1.6rem;
  border-radius: 4px;
}

.cusm_wiz .prduct_attribute .bycost_btn {
  background-color: #5867dd;
}

.cusm_wiz .prduct_attribute .bycost_btn:hover {
  background-color: #505ed0;
}

.cusm_wiz .product_specification h5 {
  margin-bottom: 1.1rem;
}

.cusm_wiz .product_specification .specification_box {
  margin-top: 1.2rem;
  border-radius: 4px;
  padding: 0 11px;
}

.cusm_wiz .product_specification .specification_box .col-md-5 {
  background-color: #f5f6fd;
  position: relative;
  padding: 0.9rem 1.2rem;
}

.cusm_wiz .product_specification .specification_box .col-md-5:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cusm_wiz .product_specification .specification_box .col-md-5:nth-child(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cusm_wiz .product_specification .specification_box .col-md-5 span {
  color: #48465b;
  font-weight: 500;
}

.cusm_wiz .product_specification .specification_box .col-md-5 .remove_cross_btn {
  position: absolute;
  height: 100%;
  padding: 1rem;
  background-color: #ebeefb;
  color: #646a9c;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cusm_wiz .product_specification .specification_box .col-md-5 .remove_cross_btn i:before {
  font-weight: 600;
}

.cusm_wiz .product_specification .specification_box:last-child {
  margin-top: 0.5rem;
}

.cusm_wiz .card_footer {
  margin-top: -1px;
  background-color: #f2f3f8;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ebeefb;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cusm_wiz .card_footer .duplicate_varient,
.cusm_wiz .card_footer .status_varient {
  display: flex;
  align-items: center;
}

.cusm_wiz .card_footer .duplicate_varient label,
.cusm_wiz .card_footer .status_varient label {
  color: #74788d;
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.cusm_wiz .card_footer .status_varient .kt-switch label {
  padding-top: 4px;
}

.cusm_wiz .card_footer .status_varient .kt-switch.kt-switch--sm input:empty ~ span {
  line-height: 1;
  margin: 0;
}

.cusm_wiz .card_footer .duplicate_varient {
  margin-right: 1.5rem;
}

.cusm_wiz .card_footer .kt-svg-icon g [fill] {
  fill: #5867dd;
}

.cusm_wiz .card_footer .kt-switch input:checked ~ span:before {
  background-color: #276dcb1f;
}

.cusm_wiz .card_footer .kt-switch input:empty ~ span:before {
  background-color: #dcdfe4;
}

.cusm_wiz .card_footer .delete-variant {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
}

.cusm_wiz .card_footer .delete-variant label {
  font-weight: 300;
  margin: 0 5px;
  color: #74788d;
  font-size: 0.9rem;
}

.cusm_wiz .card_footer .delete-variant span {
  margin-top: -3px;
}

.cusm_wiz .varient_question {
  margin: 6rem 0 6.5rem;
  text-align: center;
}

.cusm_wiz .varient_question h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.cusm_wiz .varient_question .v_ans {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3.6rem;
}

.cusm_wiz .varient_question .v_ans .ans {
  margin: 0 4.2rem;
}

.cusm_wiz .varient_question .v_ans .ans p {
  margin-top: 5.5rem;
  margin-bottom: 0;
  margin-left: -1px;
  color: #646a9c;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.cusm_wiz .varient_question .v_ans .kt-radio {
  padding-left: 25px;
}

.cusm_wiz .varient_question .v_ans .kt-radio > span {
  height: 4.6rem;
  width: 4.6rem;
}

.cusm_wiz .varient_question .v_ans .kt-radio > span:after {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.cusm_wiz .varient_question .v_ans .kt-radio > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.2rem;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  z-index: 1;
}

.cusm_wiz .varient_question .v_ans .kt-radio.kt-radio--brand.kt-radio--tick > input:checked ~ span:after {
  border: 1px solid #276dcb;
  background: #dee7f5;
}

.cusm_wiz .varient_question .v_ans .kt-radio.kt-radio--brand.kt-radio--tick > input:checked ~ span i {
  color: #276dcb;
  opacity: 1;
}

.cusm_wiz .category_box .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span {
  background: #e4e8ee;
}

.cusm_wiz .category_box label {
  color: #48465b;
}

.cusm_wiz .category_box .parent_category {
  margin-bottom: 6px;
}

.cusm_wiz .category_box .parent_category .kt-checkbox > input:checked ~ span {
  background-color: #5867dd;
}

.cusm_wiz .category_box .child_category {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
}

.cusm_wiz .category_box .child_category .kt-checkbox > input:checked ~ span {
  background-color: #327de3;
}

.cusm_wiz .category_box .child_category .kt-checkbox {
  position: relative;
}

.cusm_wiz .category_box .child_category .kt-checkbox:after {
  content: "";
  position: absolute;
  left: -30px;
  top: -15px;
  background-image: url(/images/tree-line.png?7f6fb0e9799903e175b036f5dac61b55);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.cusm_wiz .varient_box {
  border-radius: 6px;
  background-color: #ecf1fc;
  margin-bottom: 2rem;
  padding-top: 1.8rem;
}

.cusm_wiz .varient_box .st_head {
  padding: 0 1.8rem 1.8rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.cusm_wiz .varient_box .st_head .kt-wizard-v4__review-title {
  font-weight: 500 !important;
  font-size: 1.3rem !important;
  margin-bottom: 1.1rem !important;
  color: #48465b;
}

.cusm_wiz .varient_box .st_head .form-group {
  padding: 0 0.5rem;
  align-items: flex-end;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1280px) {
  .cusm_wiz .varient_box .st_head .form-group {
    flex-wrap: wrap;
  }
}

.cusm_wiz .varient_box .st_head .form-group div {
  margin-bottom: 5px;
}

.cusm_wiz .varient_box .st_head .form-group .discountDiv {
  padding: 0;
  margin: 0;
  width: 28%;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
  .cusm_wiz .varient_box .st_head .form-group .discountDiv {
    width: 90%;
  }
}

.cusm_wiz .varient_box .st_bd {
  padding: 1.8rem 1.8rem;
}

.cusm_wiz .varient_box .st_bd th {
  color: #646c9a;
  font-size: 1.1rem;
  font-weight: 500;
  width: 15rem;
}

.cusm_wiz .varient_box .st_bd td {
  color: #646c9a;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.pd_images_edit {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eeeef4;
  position: relative;
}

.pd_images_edit img {
  width: 90%;
  height: 90%;
  max-width: 140px;
  transition: all 0.3s ease-out;
}

.pd_images_edit .image_options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
}

.pd_images_edit .image_options button {
  margin: 0 5px;
}

.pd_images_edit .img_remvoe_btn,
.pd_images_edit .img_view_btn {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 37px 0px rgba(67, 67, 87, 0.21);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.pd_images_edit .img_remvoe_btn svg,
.pd_images_edit .img_view_btn svg {
  width: 23px;
  height: 23px;
}

.pd_images_edit .svg-icon.svg-icon-danger svg g [fill] {
  transition: fill 0.3s ease;
  fill: #f64e60 !important;
}

.pd_images_edit .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #6993ff !important;
}

.pd_images_edit:hover img {
  opacity: 0.5;
}

.pd_images_edit:hover .image_options {
  transform: translate(-50%, -50%);
}

.pd_images_edit:hover .img_remvoe_btn {
  opacity: 1;
}

.pd_images_edit:hover .img_view_btn {
  opacity: 1;
}

.productImagePreview .col-md-3 {
  margin-bottom: 0.6rem;
}

.productImagePreview .makeFeaturedImage {
  background-color: transparent;
  color: #095cc9;
  margin-top: 1rem;
}

.productImagePreview .feature_image {
  border: 2px solid #1bc5bd;
  position: relative;
}

.productImagePreview .feature_image:after {
  content: "\F17B";
  color: #fff;
  font: normal normal normal 16px/1 LineAwesome;
  font-size: 1.2rem;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #1bc5bd;
  border-radius: 50%;
  top: -18px;
  right: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-top: 12px;
}

.img_remvoe_btn {
  font-size: 0.9rem;
  color: #fd397a;
}

.featured_image {
  position: relative;
  margin: 2rem 0;
}

.featured_image div {
  display: flex;
  flex-direction: column;
}

.featured_image div p {
  font-size: 1.1rem;
  font-weight: 600;
}

.featured_image div label {
  cursor: pointer;
}

.featured_image div label input {
  display: none;
}

.featured_image div label span {
  position: relative;
  width: 20rem;
  height: 11.33rem;
  border: 1px solid #dee7f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.featured_image div label span i {
  color: #095cc9;
  position: absolute;
  font-size: 1.6rem;
  transition: all 0.2s ease-out;
}

.featured_image div label span:hover i {
  font-size: 1.2rem;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes > .checkbox_parent {
  border-bottom: 1px solid #dadade;
  padding: 10px 5px;
}

.product_listing .col-md-2 {
  flex: 0 0 20.66667%;
  max-width: 20.66667%;
}

.product_listing .col-md-10 {
  flex: 0 0 79.33333%;
  max-width: 80.33333%;
}

.product_listing .pd_filter_box {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 1.6rem;
  padding-right: 0.7rem;
}

.product_listing .pd_filter_box .filter_heade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.product_listing .pd_filter_box .accordion .card .card-header .card-title {
  padding: 1.25rem 0;
  padding-right: 1rem;
}

.product_listing .pd_filter_box .accordion .card .card-body {
  padding: 1.25rem 0;
  padding-top: 0;
  padding-right: 0.2rem;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes {
  padding-right: 1rem;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .checkbox_parent .checkbox_child {
  margin-left: 1rem;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .checkbox_parent .checkbox_child .kt-checkbox {
  border-bottom: 0;
  font-size: 0.8rem;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .checkbox_parent .checkbox_child .kt-checkbox > span {
  height: 15px;
  width: 15px;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .checkbox_parent .checkbox_child .kt-checkbox > span:after {
  margin-top: -5px;
  width: 4px;
  height: 8px;
  border-width: 0 1px 1px 0 !important;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .kt-checkbox {
  width: 100%;
  padding-left: 0;
  padding-right: 30px;
  margin-bottom: 0;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .kt-checkbox span {
  left: auto;
  right: 0;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .kt-checkbox.kt-checkbox--tick > input:checked ~ span {
  background: #327de3;
}

.product_listing .pd_filter_box .accordion .card .card_checkboxes .kt-checkbox.kt-checkbox--tick > input:checked ~ span:after {
  border: solid #fff;
}

.product_listing .pd_filter_box .filter_price {
  padding-right: 1rem;
  margin: 2rem 0;
}

.product_listing .pd_filter_box .filter_price h5 {
  color: #48465b;
  font-size: 1.1rem;
  padding: 1.25rem 0;
}

.product_listing .pd_filter_box .filter_price .irs--flat .irs-bar {
  height: 3px;
  background-color: #48465b;
}

.product_listing .pd_filter_box .filter_price .irs--flat .irs-line {
  top: 26px;
  height: 1px;
  background-color: #e1e4e9;
}

.product_listing .pd_filter_box .filter_price .irs--flat .irs-handle > i:first-child {
  top: -1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #48465b;
}

.product_listing .pd_filter_box .filter_price .irs--flat .irs-from,
.product_listing .pd_filter_box .filter_price .irs--flat .irs-single,
.product_listing .pd_filter_box .filter_price .irs--flat .irs-to {
  background-color: #48465b;
}

.product_listing .pd_filter_box .filter_price .irs--flat .irs-from:before,
.product_listing .pd_filter_box .filter_price .irs--flat .irs-single:before,
.product_listing .pd_filter_box .filter_price .irs--flat .irs-to:before {
  border-top-color: #48465b;
}

.product_listing .product_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_listing .product_header .kt-input-icon {
  width: 55%;
}

.product_listing .product_header #kt_subheader_search_form {
  width: 46rem;
}

@media only screen and (max-width: 1440px) {
  .product_listing .product_header #kt_subheader_search_form {
    width: 28rem;
  }
}

.product_listing .product_header .form-control {
  border-color: #fff;
}

.product_listing .product_header .form-control:focus {
  background: #fff;
}

.product_listing .product_body {
  margin: 1.8rem 0;
}

.product_listing .product_body .product_item {
  background-color: #fff;
  padding: 1rem 1.5rem 0;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.product_listing .product_body .product_item .dropdown {
  float: right;
  margin-right: -15px;
  margin-top: -6px;
}

.product_listing .product_body .product_item .dropdown .btn-group-sm > .btn.btn-icon,
.product_listing .product_body .product_item .dropdown .btn.btn-icon.btn-sm {
  height: 2.5rem;
  width: 2.5rem;
  background: transparent !important;
}

.product_listing .product_body .product_item .dropdown .dropdown-menu {
  min-width: 9rem;
  padding: 0;
}

.product_listing .product_body .product_item .dropdown .dropdown-menu ul {
  padding: 0;
}

.product_listing .product_body .product_item .dropdown .dropdown-menu ul .kt-nav__link {
  padding: 0.85rem 1.75rem 0.85rem 1rem;
}

.product_listing .product_body .product_item .dropdown.show {
  background-color: #f3f6f9;
}

.product_listing .product_body .product_item .product_image {
  width: 13rem;
  height: 13rem;
  max-width: 90%;
  margin: 25px auto 18px;
  clear: both;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
}

.product_listing .product_body .product_item .product_information {
  padding: 1rem 0;
}

.product_listing .product_body .product_item .product_information__title {
  color: #48465b;
  font-size: 1.2rem;
}

.product_listing .product_body .product_item .product_information__para {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_listing .product_body .product_item .product_information .p_icons {
  width: 1.5rem;
  display: inline-block;
  margin-right: 0.6rem;
  opacity: 0.8;
}

.product_listing .product_body .product_item .product_information .svg-icon.svg-icon-primary svg g [fill] {
  transition: fill 0.3s ease;
  fill: #5d78ff !important;
}

.product_listing .product_body .product_item .product_information .svg-icon.svg-icon-warning svg g [fill] {
  transition: fill 0.3s ease;
  fill: #f64e60 !important;
}

.product_listing .product_body .product_item .product_information__category,
.product_listing .product_body .product_item .product_information__variant,
.product_listing .product_body .product_item .product_information__stock-location,
.product_listing .product_body .product_item .product_information__attribute {
  font-size: 0.9rem;
}

.product_listing .product_body .product_item .product_information__category {
  margin-bottom: 0.2rem;
}

.product_listing .product_body .product_item .product_information__attribute {
  color: #48465b;
}

.product_listing .product_body .product_item .product_information__variant {
  border: 1px solid #dadade;
  border-left: 0;
  border-right: 0;
  padding-top: 1rem;
}

.product_listing .product_body .product_item .product_information__variant .variant_title {
  font-weight: 500;
}

.product_listing .product_body .product_item .product_information__stock-location {
  padding-top: 1rem;
}

.product_listing .product_body .product_item .product_information__stock-location p {
  display: inline-block;
}

.product_listing .product_body .product_item .product_information__stock-location span {
  margin: 0 1rem;
}

.product_listing .product_body .product_item .product_information__price-product_hide {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_listing .product_body .product_item .product_information__price-product_hide .form-group {
  margin-bottom: 0;
  margin: 0;
}

.product_listing .product_body .product_item .product_information__price-product_hide .form-group label {
  font-size: 0.9rem;
}

.product_listing .product_body .product_item .product_information__price-product_hide .kt-switch {
  margin-left: 0.6rem;
}

.product_listing .product_body .product_item .product_information__price-product_hide h4 {
  color: #48465b;
  font-size: 1.3rem;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form {
  width: 87% !important;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content {
  width: 65%;
  margin: auto;
}

.wiz_step5 {
  width: 100% !important;
}

.wiz_step5 .select2-container {
  width: 100% !important;
}

.s5_block {
  position: relative;
}

.s5_block .addNewPriceStockLocation,
.s5_block .removeNewPriceStockLocation {
  padding: 0.55rem 1.3rem;
  margin-bottom: 1px;
  font-size: 1rem;
  width: 100%;
}

.s5_block .addNewPriceStockLocation i,
.s5_block .removeNewPriceStockLocation i {
  padding-right: 0;
}

.s5_block .removeNewPriceStockLocation {
  color: #fd397a;
  background-color: rgba(253, 57, 122, 0.1);
}

.productImagePreview {
  margin-bottom: 25px;
}

.dropzone_form {
  height: 150px;
}

.dropzone_form .dropzone.dropzone-default {
  padding: 0;
  margin-bottom: 2rem;
  height: 100%;
}

.dropzone_form .dropzone-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  background-color: #ebf1f9;
}

.dropzone_form .dropzone_plus_btn {
  height: 40px;
  width: 40px;
  background-color: #004aad;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin: 0 auto;
}

.product_information__price-product_hide .kt-badge.kt-badge--inline {
  padding: 20px 16px;
  border-radius: 4px;
  margin: 0;
  line-height: 0.5;
}

.vendror_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.vendror_container .banner_w {
  width: 36rem;
}

.vendror_container .wave_abstarct {
  position: absolute;
  right: 0;
  bottom: 0;
}

.vendror_container .vendor_banner {
  margin: 25px;
  width: 36rem;
  flex: none;
  height: 94vh;
  background-color: #f6f6f6;
  border-radius: 15px;
  position: fixed;
  overflow: hidden;
}

.vendror_container .help-block {
  color: #d53c4a;
}

.vendror_container .wrap {
  width: 800px;
  max-width: 96%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}

.vendror_container .v_logo {
  width: 10rem;
  margin: 0 auto 2rem;
  display: none;
}

.vendror_container .kt-login__title_p {
  margin-bottom: 1rem;
  color: #181c32;
  font-weight: 600;
  margin-bottom: 2.5rem;
  line-height: 1.2;
  font-size: 2rem;
}

.vendror_container .kt-login__title {
  margin-bottom: 2rem;
}

.vendror_container #kt_login_register_submit {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #2e5d9c;
  border-radius: 100px;
  padding: 10x 16px;
  width: 16.6rem;
}

.vendror_container .font-weight-bolder {
  font-weight: 600 !important;
}

.vendror_container label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.vendror_container .form-group {
  margin-bottom: 1.5rem;
}

.vendror_container .form-group .form-control {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: #3f4254;
  padding: 1.65rem 1rem;
  border-radius: 0.65rem;
}

.vendror_container .form-group select {
  padding: 0 1rem !important;
}

.vendror_container .form-group input[type=file] {
  background-color: transparent;
  padding: 8px;
}

.vendror_container .form-group ::-webkit-input-placeholder {
  opacity: 0;
}

.vendror_container .form-group ::-moz-placeholder {
  opacity: 0;
}

.vendror_container .form-group :-ms-input-placeholder {
  opacity: 0;
}

.vendror_container .form-group ::-ms-input-placeholder {
  opacity: 0;
}

.vendror_container .form-group ::placeholder {
  opacity: 0;
}

.vendor_profile_section {
  padding: 1.75rem 1.5rem;
}

.vendor_profile_section .nav {
  padding: 0rem 0 1.7rem;
  border-bottom: 1px solid #e1e1e1;
}

.vendor_profile_section .form .col-lg-6 {
  margin-bottom: 1.5rem;
}

.vendor_profile_section .kt-image-input-circle .kt-avatar__holder {
  border-radius: 1.2rem;
}

.vendor_profile_section .form-group ::-webkit-input-placeholder {
  opacity: 0.4;
}

.vendor_profile_section .form-group ::-moz-placeholder {
  opacity: 0.4;
}

.vendor_profile_section .form-group :-ms-input-placeholder {
  opacity: 0.4;
}

.vendor_profile_section .form-group ::-ms-input-placeholder {
  opacity: 0.4;
}

.vendor_profile_section .form-group ::placeholder {
  opacity: 0.4;
}

.vendor_profile_section .fm_footer {
  padding: 1rem 0;
  border-top: 1px solid #eeeef4;
}

.vendor_profile_section .fm_footer button {
  margin-right: 0.6rem;
}

.vendor_profile_section .accordion {
  margin-bottom: 2rem;
}

.vendor_profile_section .radio {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0.9rem 2.6rem;
  z-index: 1;
}

.vendor_profile_section .radio-inline .radio {
  margin-right: 1rem;
}

.vendor_profile_section .radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.vendor_profile_section .radio > span {
  border-radius: 50%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: -1;
  top: 0;
  left: 0;
}

.vendor_profile_section .radio > span {
  background-color: transparent;
  border: 1px solid #e2e5ec;
}

.vendor_profile_section .radio > input:checked ~ span {
  transition: all 0.3s ease;
  background-color: none;
}

.vendor_profile_section .radio > input:checked ~ span {
  background-color: #EBEDF3;
}

.vendor_profile_section .profile_summery li {
  list-style: none;
  margin-bottom: 0.9rem;
  width: 49%;
  display: inline-block;
}

.vendor_profile_section .profile_summery label span {
  font-weight: 600;
  display: block;
}

.vendor_profile_section .profile_summery .account_logo {
  width: 120px;
  height: 120px;
  border-radius: 1.2rem;
  overflow: hidden;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vendor_profile_section .profile_summery .account_logo img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.order_detail_section .order_header {
  padding: 1.5rem 1rem;
}

.order_detail_section .order_header .row {
  align-items: flex-end;
}

.order_detail_section .order_header p {
  margin: 0;
}

.order_detail_section .order_header h2 {
  margin-bottom: 0;
  color: #48465b;
  font-size: 1.6rem;
}

.order_detail_section .order_header h2 span {
  opacity: 0.5;
}

.order_detail_section .order_header h2 small {
  font-size: 14px;
}

.order_detail_section .order_header .order_date_time {
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 500;
}

.order_detail_section .order_header .order_date {
  margin-left: 2rem;
}

.order_detail_section .order_header .order_date p {
  color: #959cb6;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.order_detail_section .order_header .order_date span {
  margin: 0 0.5rem;
}

.order_detail_section .order_header .order_date i {
  font-size: 1.5rem;
}

.order_detail_section .order_header .order_status {
  margin-left: 2rem;
}

.order_detail_section .order_header .order_status .staus_panding {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.35rem 1rem;
  border-radius: 4px;
  color: #5867dd;
  background-color: rgba(88, 103, 221, 0.1);
}

.order_detail_section .order_item_box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 20px;
}

.order_detail_section .order_item_box .row {
  margin: 0;
}

.order_detail_section .order_item_box .order_item .od_text {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

.order_detail_section .order_item_box .order_item .od_text span {
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  margin-bottom: 0.2rem;
}

.order_detail_section .order_item_box .order_item .od_img {
  width: 5rem;
  display: inline-block;
  height: 5rem;
  text-align: center;
}

.order_detail_section .order_item_box .order_item .od_img img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.order_detail_section .order_item_box .order_item .od_name {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.order_detail_section .order_item_box .order_item .od_name:hover {
  white-space: inherit;
}

.order_detail_section .payment_summery {
  padding: 0;
}

.order_detail_section .payment_summery h3 {
  color: #48465b;
  font-size: 1.3rem;
  padding: 30px 30px 15px;
}

.order_detail_section .payment_summery ul {
  margin: 0;
  padding: 0;
}

.order_detail_section .payment_summery li {
  padding: 5px 30px;
  list-style: none;
}

.order_detail_section .payment_summery li p {
  margin: 0;
}

.order_detail_section .payment_summery li p span {
  opacity: 0.7;
}

.order_detail_section .payment_summery li p:last-child {
  font-weight: 600;
}

.order_detail_section .payment_summery li.total_block {
  color: #48465b;
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 15px 30px;
  font-weight: 600;
  background-color: #f9fafc;
}

.order_detail_section .order_heade_right {
  display: flex;
  align-items: center;
}

.order_detail_section .order_heade_right .dropdown {
  margin-right: 1rem;
}

.order_detail_section .order_heade_right .print a {
  background-color: #0abb87;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.order_detail_section .order_heade_right .print a i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.order_info_box .bd_bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order_info_box h4 {
  color: #48465b;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.order_info_box .contact_info,
.order_info_box .shiiping_detail,
.order_info_box .billing_detail {
  padding-bottom: 0.8rem;
  margin-bottom: 1.2rem;
  padding: 0.2rem 0px;
}

.order_info_box .billing_detail {
  margin-bottom: 0;
  padding-bottom: 0;
}

.order_info_box p i {
  font-weight: 600;
  font-size: 1.3rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.order_info_box p span {
  margin-right: 0.5rem;
}

.order_info_box p span .kt-svg-icon g [fill] {
  fill: #96a9c8;
}

.shipping-data .btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.4rem;
}

.shipping-data .btn-remove i {
  padding-right: 0;
}

.return_product {
  display: flex;
  align-items: center;
}

.return_product .r_img_block {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  text-align: center;
}

.return_product .r_img_block img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.return_product .re_pd_name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 14rem;
  margin-left: 0.3rem;
}

.admin_question_body .a_image {
  width: 100%;
  height: 10.3rem;
  margin: 1rem 0;
}

.admin_question_body .a_image img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}


.type-hod {
  color: #fff;
  background-color: #FFAB00;
  border-radius: 100px !important;
}

.type-admin {
  color: #fff;
  background-color: #48cf3b;
  border-radius: 100px !important;
}

.type-employee {
  color: #fff;
  background-color: #fd397a;
  border-radius: 100px !important;
}
