.cusm_wiz .category_box .child_category .kt-checkbox:after {
    right: -30px;
    transform: rotateY(180deg);
}
.cusm_wiz .product_specification .specification_box .col-md-5 .remove_cross_btn {
    left: 0;
    right: auto !important;
}
.kt-radio>span:after {
    left: 50% !important;
    right: auto !important;
}
.cusm_wiz .varient_question .v_ans .ans p {
    position: absolute;
    left: 6px;
    margin-left: 0;
}
.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type=action-next] {
    margin: auto 0 auto !important;
}
.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type=action-prev] {
    margin-right: 0 !important;
    margin-left: auto;
}